In [16]:
import nltk
nltk.download('punkt')  # Download the necessary tokenizer models
from nltk.tokenize import word_tokenize
import pandas as pd

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\2909k\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [17]:
df = pd.read_csv('all-data.csv',encoding='ISO-8859-1')

In [18]:
df

     sentiments                                               News
0       neutral  According to Gran , the company has no plans t...
1       neutral  Technopolis plans to develop in stages an area...
2      negative  The international electronic industry company ...
3      positive  With the new production plant the company woul...
4      positive  According to the company 's updated strategy f...
...         ...                                                ...
4841   negative  LONDON MarketWatch -- Share prices ended lower...
4842    neutral  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4843   negative  Operating profit fell to EUR 35.4 mn from EUR ...
4844   negative  Net sales of the Paper segment decreased to EU...
4845   negative  Sales in Finland decreased by 10.5 % in Januar...

[4846 rows x 2 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentiments  4846 non-null   object
 1   News        4846 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [35]:
def lowercase(text):
    text = text.lower()
    return text

In [36]:
df['News'] = df['News'].apply(lowercase)

In [37]:
def tokenise(text):
    tokens = text.split(' ')
    return tokens

In [38]:
df['tokenizes'] = df['News'].apply(tokenise)

In [39]:
df

,sentiments,News,tokenizes
0,neutral,"according to gran , the company has no plans t...","[according, to, gran, ,, the, company, has, no..."
1,neutral,technopolis plans to develop in stages an area...,"[technopolis, plans, to, develop, in, stages, ..."
2,negative,the international electronic industry company ...,"[the, international, electronic, industry, com..."
3,positive,with the new production plant the company woul...,"[with, the, new, production, plant, the, compa..."
4,positive,according to the company 's updated strategy f...,"[according, to, the, company, 's, updated, str..."
...,...,...,...
4841,negative,london marketwatch -- share prices ended lower...,"[london, marketwatch, --, share, prices, ended..."
4842,neutral,rinkuskiai 's beer sales fell by 6.5 per cent ...,"[rinkuskiai, 's, beer, sales, fell, by, 6.5, p..."
4843,negative,operating profit fell to eur 35.4 mn from eur ...,"[operating, profit, fell, to, eur, 35.4, mn, f..."
4844,negative,net sales of the paper segment decreased to eu...,"[net, sales, of, the, paper, segment, decrease..."
4845,negative,sales in finland decreased by 10.5 % in januar...,"[sales, in, finland, decreased, by, 10.5, %, i..."

In [42]:
def remove(list):
    
    if ',' in list:
        list = list.remove(',')
    return list

In [43]:
df['tokenizes'] = df['tokenizes'].apply(remove)