In [1]:
import nltk
# nltk.download('punkt')  # Download the necessary tokenizer models
from nltk.tokenize import word_tokenize
import pandas as pd

In [2]:
df = pd.read_csv('all-data.csv',encoding='ISO-8859-1')

In [3]:
df

     sentiments                                               News
0       neutral  According to Gran , the company has no plans t...
1       neutral  Technopolis plans to develop in stages an area...
2      negative  The international electronic industry company ...
3      positive  With the new production plant the company woul...
4      positive  According to the company 's updated strategy f...
...         ...                                                ...
4841   negative  LONDON MarketWatch -- Share prices ended lower...
4842    neutral  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4843   negative  Operating profit fell to EUR 35.4 mn from EUR ...
4844   negative  Net sales of the Paper segment decreased to EU...
4845   negative  Sales in Finland decreased by 10.5 % in Januar...

[4846 rows x 2 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentiments  4846 non-null   object
 1   News        4846 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [5]:
def lowercase(text):
    text = text.lower()
    return text

In [6]:
df['News'] = df['News'].apply(lowercase)

In [7]:
def tokenise(text):
    tokens = text.split(' ')
    return tokens

In [8]:
df['tokenizes'] = df['News'].apply(tokenise)

In [9]:
df

,sentiments,News,tokenizes
0,neutral,"according to gran , the company has no plans t...","[according, to, gran, ,, the, company, has, no..."
1,neutral,technopolis plans to develop in stages an area...,"[technopolis, plans, to, develop, in, stages, ..."
2,negative,the international electronic industry company ...,"[the, international, electronic, industry, com..."
3,positive,with the new production plant the company woul...,"[with, the, new, production, plant, the, compa..."
4,positive,according to the company 's updated strategy f...,"[according, to, the, company, 's, updated, str..."
...,...,...,...
4841,negative,london marketwatch -- share prices ended lower...,"[london, marketwatch, --, share, prices, ended..."
4842,neutral,rinkuskiai 's beer sales fell by 6.5 per cent ...,"[rinkuskiai, 's, beer, sales, fell, by, 6.5, p..."
4843,negative,operating profit fell to eur 35.4 mn from eur ...,"[operating, profit, fell, to, eur, 35.4, mn, f..."
4844,negative,net sales of the paper segment decreased to eu...,"[net, sales, of, the, paper, segment, decrease..."
4845,negative,sales in finland decreased by 10.5 % in januar...,"[sales, in, finland, decreased, by, 10.5, %, i..."

In [10]:
df

,sentiments,News,tokenizes
0,neutral,"according to gran , the company has no plans t...","[according, to, gran, ,, the, company, has, no..."
1,neutral,technopolis plans to develop in stages an area...,"[technopolis, plans, to, develop, in, stages, ..."
2,negative,the international electronic industry company ...,"[the, international, electronic, industry, com..."
3,positive,with the new production plant the company woul...,"[with, the, new, production, plant, the, compa..."
4,positive,according to the company 's updated strategy f...,"[according, to, the, company, 's, updated, str..."
...,...,...,...
4841,negative,london marketwatch -- share prices ended lower...,"[london, marketwatch, --, share, prices, ended..."
4842,neutral,rinkuskiai 's beer sales fell by 6.5 per cent ...,"[rinkuskiai, 's, beer, sales, fell, by, 6.5, p..."
4843,negative,operating profit fell to eur 35.4 mn from eur ...,"[operating, profit, fell, to, eur, 35.4, mn, f..."
4844,negative,net sales of the paper segment decreased to eu...,"[net, sales, of, the, paper, segment, decrease..."
4845,negative,sales in finland decreased by 10.5 % in januar...,"[sales, in, finland, decreased, by, 10.5, %, i..."

In [12]:

df['tokenizes'][0]

['according',
 'to',
 'gran',
 ',',
 'the',
 'company',
 'has',
 'no',
 'plans',
 'to',
 'move',
 'all',
 'production',
 'to',
 'russia',
 ',',
 'although',
 'that',
 'is',
 'where',
 'the',
 'company',
 'is',
 'growing',
 '.']

In [13]:
def clean(string_list):
    cleaned_list = [word for word in string_list if word not in [",", "."]]
    return cleaned_list

In [14]:
clean(df['tokenizes'][0])

['according',
 'to',
 'gran',
 'the',
 'company',
 'has',
 'no',
 'plans',
 'to',
 'move',
 'all',
 'production',
 'to',
 'russia',
 'although',
 'that',
 'is',
 'where',
 'the',
 'company',
 'is',
 'growing']

In [15]:
df['tokenizes'] = df['tokenizes'].apply(clean)

In [16]:
df

,sentiments,News,tokenizes
0,neutral,"according to gran , the company has no plans t...","[according, to, gran, the, company, has, no, p..."
1,neutral,technopolis plans to develop in stages an area...,"[technopolis, plans, to, develop, in, stages, ..."
2,negative,the international electronic industry company ...,"[the, international, electronic, industry, com..."
3,positive,with the new production plant the company woul...,"[with, the, new, production, plant, the, compa..."
4,positive,according to the company 's updated strategy f...,"[according, to, the, company, 's, updated, str..."
...,...,...,...
4841,negative,london marketwatch -- share prices ended lower...,"[london, marketwatch, --, share, prices, ended..."
4842,neutral,rinkuskiai 's beer sales fell by 6.5 per cent ...,"[rinkuskiai, 's, beer, sales, fell, by, 6.5, p..."
4843,negative,operating profit fell to eur 35.4 mn from eur ...,"[operating, profit, fell, to, eur, 35.4, mn, f..."
4844,negative,net sales of the paper segment decreased to eu...,"[net, sales, of, the, paper, segment, decrease..."
4845,negative,sales in finland decreased by 10.5 % in januar...,"[sales, in, finland, decreased, by, 10.5, %, i..."

In [25]:
st = set()
for i in df['tokenizes']:
    for j in i:
        st.add(j)

In [26]:
def embedding(list):
    arr = []
    for i in list:
        temp = st.index(i)
        arr.append(temp)
    return arr

In [28]:
import math

# Original list of lists of strings

# Remove punctuation
cleaned_list_of_lists = [[word for word in sublist if word not in [",", "."]] for sublist in df['tokenizes']]

# Flatten the list to get all unique words
vocabulary = sorted(set(word for sublist in cleaned_list_of_lists for word in sublist))

# Create a dictionary to map each word to its index
word_to_index = {word: idx for idx, word in enumerate(vocabulary)}

# Calculate term frequency (TF)
def term_frequency(word, sublist):
    return sublist.count(word) / len(sublist)

# Calculate inverse document frequency (IDF)
def inverse_document_frequency(word, all_sublists):
    num_docs_containing_word = sum(1 for sublist in all_sublists if word in sublist)
    return math.log(len(all_sublists) / (1 + num_docs_containing_word))

# Compute TF-IDF for each word in each sublist
tfidf_embeddings = []
for sublist in cleaned_list_of_lists:
    sublist_embedding = []
    for word in sublist:
        tf = term_frequency(word, sublist)
        idf = inverse_document_frequency(word, cleaned_list_of_lists)
        tfidf_value = tf * idf
        sublist_embedding.append(tfidf_value)
    tfidf_embeddings.append(sublist_embedding)

# Print the vocabulary and example embeddings
print(f"Vocabulary: {vocabulary}")
for sublist, embedding_sublist in zip(cleaned_list_of_lists, tfidf_embeddings):
    for word, emb in zip(sublist, embedding_sublist):
        print(f"Word: {word}, TF-IDF Value: {emb}")